<header>
  <div class="inner clearfix">
    <div class="siteLogo">
      <a class="btnAlpha" data-label="logo" href="/">
        <img src="/pc/common/images/logo_head_sitelogo_beta_2.png" width="215" alt="{{p.name}}" />
      </a>
    </div>
    {{>header_nav}}
    <div class="btn btn01 btnAction btn01_min">
      <a data-label="signup" href="/signup/">
        <span>会員登録</span>
      </a>
    </div>
    <div class="btn btn01 btnAction btn01_min">
      <a data-label="login" href="/login?redirect=">
        <span>ログイン</span>
      </a>
    </div>
  </div>
</header>
