<nav>
  <ul id="glNav">
    <li>
      <span>メニュー1</span>
      <ul class="dropmenu search">
        <li><a href="/newCarList/BC1YrK3S">Aを探す</a></li>
        <li><a data-label="search" href="/search_all/">Bを探す</a></li>
      </ul>
    </li>
    <li>
      <span>メニュー2</span>
      <ul class="dropmenu flow">
        <li><a href="/about/newcar/">Aの利用手順</a></li>
        <li><a href="/about/flow/">Bの利用手順</a></li>
      </ul>
    </li>
    <li>
      <span>メニュー3</span>
      <ul class="dropmenu charge">
        <li><a href="/about/newcar/charge/">Aの料金</a></li>
        <li><a href="/about/charge/">Bの料金</a></li>
      </ul>
    </li>
    <li>
      <span>メニュー4</span>
      <ul class="dropmenu faq">
        <li><a href="/faq/newCar">AのFAQ</a></li>
        <li><a href="/faq/">BのFAQ</a></li>
      </ul>
    </li>
    <li><a data-label="voice" href="/voice/">お客様の声</a></li>
  </ul>
</nav>
