/*修正確認用コメント*/
html{
	font-size: 62.5%
}
body{
	font-size: 1.4em;
	line-height: 1.75em;
	font-family:"Avenir","Arial","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
	color: #000000;
}

/*WEBFONT*/
.latinFont {
	font-family: "Lato";
	font-style: normal;
}

.alCenter{ text-align:center;}
.alRight{ text-align:right;}

.strong {
	font-weight: bold !important;
}

/*clearfix start*/
.clearfix:after {
	content:".";
	height:0;
	font-size:0;
	clear:both;
	display:block;
	visibility:hidden;
}
/*clearfix end*/

img.max{
	width: 100%;
	height: auto;
}
li {
    list-style: none;
}
.l-wrap.l-flex_SB {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
/*=========================== 汎用ボックス */
.mgtop10{ margin-top:10px !important;}
.mgtop20{ margin-top:20px !important;}
.mgtop30{ margin-top:30px !important;}
.mgtop40{ margin-top:40px !important;}
.mgtop50{ margin-top:50px !important;}

.mgbtm10{ margin-bottom:10px !important;}
.mgbtm20{ margin-bottom:20px !important;}
.mgbtm30{ margin-bottom:30px !important;}
.mgbtm40{ margin-bottom:40px !important;}
.mgbtm50{ margin-bottom:50px !important;}


/*select*/
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
	background: #fff url(/pc/common/images/form/icon_select_arrow.png) center right no-repeat;
}
select::-ms-expand {
	display: none;
}


/***************************
*btn
***************************/
/*文字が上にきえて下から出てくる青*/
.btn01 {
	position: relative;
}
.btn01 > * {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
	padding: 15px;
	text-align: center;
	background-color: #00aeff;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.btn02 > * span,
.btn01 > * span {
	position: relative;
	display: inline-block;
}
.btn01.invalid > * {
	background-color: #e0e0e0;
}
.btn01.clicked:before,
.btn01.invalid:before {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	background: url(/pc/common/images/img_space.png) 0 0 repeat;
}
.btn02 > * {
	display: block;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
	padding: 15px;
	text-align: center;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	border: 1px solid #00aeff;
}
.btn02 > * span {
	color: #00aeff;
}

/*文字が上にきえて下から出てくる白*/
.btn02 {

}

/*テキストボタン*/
.btn03 {
	color: #00aeff;
	font-weight: bold;
}

/*文字が上にきえて下から出てくる共通*/
.btnAction {

}
.btnAction02 {
	position: relative;
	display: block;
	border-radius: 6px;
	overflow: hidden;
	height: 100%;
}
.btnAction02:before {
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background: url(/pc/common/images/bg_btn_mouseon.png) 0 0 repeat;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	border-radius: 6px;
}
.btnAction02:hover:before {
	opacity: 1;
}

/*画像が60%になるやつ*/
.btnAlpha:hover {
	opacity: .6;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
}
.btnAlpha02:hover {
/*	opacity: .6;*/
}

/*テキストリンク(下線がつく)*/
.txtLink01 {
	text-decoration: none;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
}
.txtLink01:hover {
	text-decoration: underline;
}

/*テキストリンク(下線が消えて60%透過)*/
.txtLink02 {
	text-decoration: underline;
/*
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
*/
}
.txtLink02:hover {
	text-decoration: none;
	opacity: .6;
}


/***************************
*wrapper
***************************/
#wrapper {
	min-width: 1000px;
	padding-top: 75px;
}


/***************************
*header
***************************/
header {
	width: 100%;
	min-width: 1000px;
	padding: 15px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0px -5px 7px 4px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px -5px 7px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -5px 7px 4px rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	height: 75px;
	z-index: 100;
}
header .inner {
	position: relative;
}
header .siteLogo {
	float: left;
	position: relative;
	z-index: 5;
}
header #glNav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}


/*headerBanner*/
.headerBanner__wrapper{
	background-color: #00aeff;
	display: block;
	height: 35px;
	text-align: center;
}
.headerBanner__wrapper img{
	height: 35px;
}
#glNav li {
	display: inline-block;
	margin-left: 40px;
	position: relative;
}
#glNav li:first-child {
	margin-left: 0;
}
#glNav a,
#glNav span{
	font-size: 1.5rem;
	color: #000;
	font-weight: bold;
/*	line-height: 1;*/
	line-height: 45px;
	text-decoration: none;
	position: relative;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	position: relative;
	cursor: pointer;
}
#glNav a:after {
	content: " ";
	height: 3px;
	width: 100%;
	background-color: #00aeff;
	border-radius: 6px;
	display: block;
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 0;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
}
#glNav a:hover {
	color: #00aeff;
}
#glNav a:hover:after {
	width: 100%;
	left: 0;

}
#glNav a .listNum {
	font-size: 1.0rem;
	color: #fff;
	display: block;
	background-color: #00aeff;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	line-height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: -25px;
}
#glNav li ul.dropmenu {
	display: none;
	list-style: none;
	position: absolute;
	background-color: #fff;
}
#glNav li ul.dropmenu.search {
	width: 150px;
	left: -30px;
}
#glNav li ul.dropmenu.flow {
	width: 175px;
	left: -58px;
}
#glNav li ul.dropmenu.charge {
	width: 135px;
	left: -53px;
}
#glNav li ul.dropmenu.faq {
	width: 100px;
	left: -5px;
}
#glNav li ul.dropmenu.faq li {
	width: 100px;
}
#glNav li:hover ul.dropmenu {
	display: block;
}
#glNav li ul.dropmenu li{
	margin-left: 0px; !important
}
header .newEntry,
header .logoutBtn {
	float: right;
	color: #000;
	font-size: 1.2rem;
	font-weight: bold;
	margin-left: 20px;
	line-height: 45px;
	position: relative;
	z-index: 5;
}
header .btn01 {
	width: 150px;
	float: right;
}

header .btn01.btn01_min {
	width: 100px;
	position: relative;
	top: 10px;
}
header .btn01.btn01_min > * {
	display: inline;
	padding: 15px;
	color: #fff;
}



/***************************
*footer
***************************/
footer {
	width: 100%;
	background-color: #4d4d4d;
}
footer .inner {
	position: relative;
	padding: 30px 0 45px;
	width: 1000px;
	margin: 0 auto;
}
.footNav {
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.footNav li {
	display: inline-block;
	margin-left: 25px;
}
.footNav li:first-child {
	margin-left: 0;
}
.footNav a {
	color: #fff;
	font-size: 1.4rem;
  text-decoration: none;
}
.footNav a:hover {
  text-decoration: underline;
}
.footNav.mini {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
	margin-top: 10px;
}
.footNav.mini li {
	display: inline-block;
	margin-left: 25px;
}
.footNav.mini li:first-child {
	margin-left: 0;
}
.footNav.mini a{
  color: #ddd;
  font-size: 1.2rem;
}
#campanyLogo {
	text-align: center;
	margin-top: 60px;
}
#copyRight {
	text-align: center;
	color: #999;
	font-size: 1.0rem;
	display: block;
}

#pageTopBtn {
	position: absolute;
	top: -29px;
	right: 0;
}
#pageTopBtn a {
	display: block;
}

/*modal-cmn*/
/*modal*/
#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*	min-width: 1000px;*/
	z-index: 200;
}
#modalBg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../../common/images/bg_modal_close.png) 0 0 repeat;
	z-index: 1;
}
.modalCnt {
	width: 90%;
	max-width: 1000px;
	height: -webkit-calc(100% - 100px);
	height: calc(100% - 100px);
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fff;
	z-index: 5;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 60px;
}
.modalCloseBtn {
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
}

/*modal*/
#modal {
	overflow-y: scroll;
}
.modalCnt.modalFav {
	width: 90%;
	height: auto;
	max-width: 1000px;
	position: absolute;
	top: 50px;
	background-color: #eaeae0;
	z-index: 5;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 0;
	margin-bottom: 50px;
	padding-bottom: 50px;
}
.modalCnt.modalFav .ttlbox {
	height: 95px;
	box-sizing: border-box;
	border-bottom: 2px solid #fff;
	padding: 24px;
}
.modalCnt.modalFav .ttlbox h2 {
	font-size: 3.4rem;
	font-weight: bold;
	position: relative;
	padding-left: 65px;
	line-height: 48px;;
	display: inline-block;
}
.modalCnt.modalFav .ttlbox h2:before {
	content: " ";
	background: url(/pc/search/images/detail/icon_fav_on.png) 0 0 no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -24px;
}
.modalCnt.modalFav .ttlbox .listNum {
	display: inline-block;
	font-size: 2.0rem;
	color: #00aeff;
}
.modalCnt.modalFav .ttlbox .listNum span:first-child {
	font-size: 3.4rem;
}
.modalCnt.modalFav .ttlbox .listNum .caption {
	color: #000;
	font-size: 1.4rem;
}
.modalCnt.modalFav .cntentbox {
	width: 829px;
	margin: 0 auto;
}
.modalCnt.modalFav .note {
	margin-top: 35px;
	font-size: 1.4rem;
	font-weight: bold;
	display: none;
}
.modalCnt.modalFav .note span {
	font-size: 1.6rem;
	color: #00aeff;
}
.modalCnt.modalFav .favList {
	margin-top: 30px;
}
.modalCnt.modalFav .favList .favItem {
	width: 255px;
	border-radius: 6px;
	overflow: hidden;
	background-color: #ffffff;
	box-sizing: border-box;
	box-shadow: 00px 0px 6px -2px rgba(0,0,0,0.4);
	position: relative;
	float: left;
	margin-right: 32px;
	margin-bottom: 30px;
}
.modalCnt.modalFav .favList .favItem:nth-child(3n) {
	margin-right: 0;
}
.modalCnt.modalFav .favList .favItem.pickup:before {
	content: " ";
	display: block;
	background: url(/pc/search/images/detail/icon_fav_pickup.png) 0 0 no-repeat;
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.modalCnt.modalFav .favList .favItem > a:first-child {
	text-decoration: none;
	color: inherit;
	padding-bottom: 44px;
	z-index: 1;
	display: block;
}
.modalCnt.modalFav .favList .favItem > a.btnAction02,
.modalCnt.modalFav .favList .favItem > a.btnAction02:before {
	border-radius: 0px;
}
.modalCnt.modalFav .favList .favItem .pic {
	position: relative;
}
.modalCnt.modalFav .favList .favItem .pic .date {
	color: #fff;
	font-size: 1.3rem;
	font-weight: bold;
	position: absolute;
	line-height: 23px;
	bottom: 10px;
	left: 104px;
}
.modalCnt.modalFav .favList .favItem .pic:before {
	content: " ";
	background: url(/pc/search/images/detail/icon_fav_st_01.png) 0 0 no-repeat;
	background-size: 86px;
	width: 86px;
	height: 24px;
	display: block;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 5;
}
.modalCnt.modalFav .favList .favItem .text {
	padding: 10px;
	position: relative;
}
.modalCnt.modalFav .favList .favItem .addDate {
	font-size: 1.3rem;
}
.modalCnt.modalFav .favList .favItem .name {
	font-size: 1.5rem;
	font-weight: bold;
}
.modalCnt.modalFav .favList .favItem .typeList {
	border-top: 1px solid #e0e0e0;
	margin-top: 15px;
	padding-top: 10px;
	text-align: center;
}
.modalCnt.modalFav .favList .favItem .typeList dt,
.modalCnt.modalFav .favList .favItem .typeList dd {
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1;
}
.modalCnt.modalFav .favList .favItem .typeList dt {
	margin-left: 10px;
}
.modalCnt.modalFav .favList .favItem .typeList dt:first-child {
	margin-left: 0;
}
.modalCnt.modalFav .favList .favItem .typeList dd {
	font-weight: bold;
}
.modalCnt.modalFav .favList .favItem .deleteBtn {
	display: block;
	width: 100%;
	background-color: #f4f4f4;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	box-sizing: border-box;
	height: 44px;
	position: absolute;
	bottom: 0;
	z-index: 10;
}
.modalCnt.modalFav .favList .favItem .deleteBtn span {
	position: relative;
	font-size: 1.5rem;
	color: #00aeff;
	line-height: 1;
	left:-10px;
}
.modalCnt.modalFav .favList .favItem .deleteBtn span:after {
	content: " ";
	display: block;
	background: url(/pc/search/images/detail/icon_fav_close.png) 0 0 no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	right: -28px;
	top: 50%;
	margin-top: -10px;

}

/*ステータスごとのだしわけ*/
.modalCnt.modalFav .favList .favItem.st2 .pic:before {
	background: url(/pc/search/images/detail/icon_fav_st_02.png) 0 0 no-repeat;
}
.modalCnt.modalFav .favList .favItem.st3 .pic:before {
	background: url(/pc/search/images/detail/icon_fav_st_03.png) 0 0 no-repeat;
}
.modalCnt.modalFav .favList .favItem.st4 .pic:before {
	background: url(/pc/search/images/detail/icon_fav_st_04.png) 0 0 no-repeat;
}
.modalCnt.modalFav .favList .favItem.st5 .pic:before {
	background: url(/pc/search/images/detail/icon_fav_st_05.png) 0 0 no-repeat;
}

.modalCnt.modalFav .favList .favItem.st4 .pic:after,
.modalCnt.modalFav .favList .favItem.st4 .text:after {
	content: " ";
	display: block;
	background: url(/pc/search/images/detail/bg_fav_st_02.png) 0 0 repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.modalCnt.modalFav .favList .favItem.st5 .pic:after,
.modalCnt.modalFav .favList .favItem.st5 .text:after {
	content: " ";
	display: block;
	background: url(/pc/search/images/detail/bg_fav_st_02.png) 0 0 repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.modalCnt.errorlogin {
	width: 660px;
	height: 310px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	z-index: 5;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	padding: 60px;
}
.modalCnt.errorlogin .title {
	font-size: 2.0rem;
	font-weight: bold;
	line-height: 2;
}
.modalCnt.errorlogin .mes {
	font-size: 1.6rem;
}
.modalCnt.errorlogin .loginBtn {
	width: 190px;
	margin: 60px auto 0;
}
.modalCnt.errorlogin .loginBtn a {
	font-size: 1.8rem;
	padding: 10px;
}
.modalCnt.errorlogin .newEntryBtn {
	font-size: 1.2rem;
	color: #00aeff;
	display: inline-block;
	margin-top: 10px;
}

.picOver {
	width: 450px;
	height: 310px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 0;
	text-align: center;
	padding: 60px;
}
.picOver .title {
	font-size: 2.0rem;
	font-weight: bold;
	line-height: 2;
}
.picOver .mes {
	font-size: 1.6rem;
}
.picOver .loginBtn {
	width: 190px;
	margin: 35px auto 0;
}
.picOver .loginBtn a {
	font-size: 1.8rem;
	padding: 10px;
}
.picOver .newEntryBtn {
	font-size: 1.2rem;
	color: #00aeff;
	display: inline-block;
	margin-top: 10px;
}


.modalCnt.modalSearch {
	width: 90%;
	max-width: 1000px;
	height: auto;
	position: absolute;
	top: 30px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0;
	overflow: hidden;
	margin-bottom: 90px;
}
.modalCnt.modalSearch h2 {
	text-align: center;
	width: 100%;
}
.modalCnt.modalSearch h3 {
	font-size: 2.4rem;
	font-weight: bold;
	text-align: center;
}
.modalCnt.modalSearch #bodyType h3 {
	margin-bottom: 10px;
}
.modalCnt.modalSearch #manufacturer h3 {
	margin-bottom: 25px;
}
.modalCnt.modalSearch #bodyType .inner,
.modalCnt.modalSearch #manufacturer .inner {
	width: 830px;
	margin: 0 auto;
}
/*表示順*/
#sortType{
    padding-bottom: 10px;
}
#sortType .sortTypeBox {
    text-align: center;
    height: 38px;
    width: 306px;
    margin: auto;
}
#sortType input[type=radio]{
    display: none;
}
#sortType input[type=radio] + label{
    border: 2px solid #00aeff;
    display: block;
    float: left;
    padding: 5px 0;
    position: relative;
    width: 150px;
}
#sortType input[type=radio]:checked + label{
    background-color: #00aeff;
    color: #fff;
}
/*
#sortType input[type=radio]:checked + label:before {
    background: url(/pc/search/images/icon_check_on.png) -1px -1px no-repeat/28px;
    width: 25px;
    height: 25px;
    content: " ";
    display: block;
    position: absolute;
    left: 2px;
    top: 5px;
}
*/
#sortType input[type=radio] + label:first-of-type{
    border-right-style: none;
    border-radius: 10px 0 0 10px;
}
#sortType input[type=radio] + label:last-of-type{
    border-radius: 0 10px 10px 0;
}
/*表示順ここまで*/
/*ボディタイプから探すここから*/
.modalCnt.modalSearch #bodyType {
	margin: 0;
	background-color: #eaeae0;
	padding-bottom: 10px;
}

.modalCnt.modalSearch #bodyType h2 {
}

.modalCnt.modalSearch .bodyTypeBtn {
	width: 190px;
	height: 60px;
	float: left;
	margin: 3px;
	border: 2px solid #00aeff;
	border-radius: 7px;
	text-align: center;
	padding-top: 70px;
	position: relative;
	background-color: #fff;
}

.modalCnt.modalSearch .BtnOff {
	border: 2px solid #e0e0e0;
	/*background-color: #e0e0e0;*/
}

.modalCnt.modalSearch .bodyTypeBtn a {
	color: #000;
	text-decoration: none;
	display: block;
	position: relative;
	top: -70px;
	padding-top: 65px;
	height: 65px;
}

.modalCnt.modalSearch .BtnOff a {
	color: #999999;
}

.modalCnt.modalSearch #lightCar:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_lightCar.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}
.modalCnt.modalSearch div#lightCar.BtnOff:before {
	content: "";
	display: inline-block;
	height: 45px;
	width: 90px;
	background-image: url(/pc/search/images/icon_lightCar_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:15px;
	left:50px;
}

.modalCnt.modalSearch #minivan:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_minivan.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalCnt.modalSearch div#minivan.BtnOff:before {
	content: "";
	display: inline-block;
	height: 44px;
	width: 90px;
	background-image: url(/pc/search/images/icon_minivan_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:15px;
	left:50px;
}

.modalCnt.modalSearch #compact:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_compact.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalCnt.modalSearch div#compact.BtnOff:before {
	content: "";
	display: inline-block;
	height: 44px;
	width: 90px;
	background-image: url(/pc/search/images/icon_compact_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:15px;
	left:50px;
}

.modalCnt.modalSearch #suv:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_SUV.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalCnt.modalSearch div#suv.BtnOff:before {
	content: "";
	display: inline-block;
	height: 44px;
	width: 90px;
	background-image: url(/pc/search/images/icon_SUV_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:15px;
	left:50px;
}

.modalCnt.modalSearch #stationWagon:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_stationWagon.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalCnt.modalSearch div#stationWagon.BtnOff:before {
	content: "";
	display: inline-block;
	height: 44px;
	width: 90px;
	background-image: url(/pc/search/images/icon_stationWagon_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:15px;
	left:50px;
}

.modalCnt.modalSearch #coupe:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_coupe.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalCnt.modalSearch div#coupe.BtnOff:before {
	content: "";
	display: inline-block;
	height: 44px;
	width: 90px;
	background-image: url(/pc/search/images/icon_coupe_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:15px;
	left:50px;
}

.modalCnt.modalSearch #sedan:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_sedan.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalCnt.modalSearch div#sedan.BtnOff:before {
	content: "";
	display: inline-block;
	height: 44px;
	width: 90px;
	background-image: url(/pc/search/images/icon_sedan_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:15px;
	left:50px;
}

.modalCnt.modalSearch #other:before {
    content: "";
    display: inline-block;
    height: 54px;
    width: 135px;
    background-image: url(/pc/search/images/icon_other.png), url(/pc/search/images/icon_check_on.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 5px;
}

.modalCnt.modalSearch div#other.BtnOff:before {
	content: "";
	display: inline-block;
	height: 48px;
	width: 90px;
	background-image: url(/pc/search/images/icon_other_off.png);
	background-repeat: no-repeat;
	position: absolute;
	top:11px;
	left:50px;
}
/*ボディタイプから探すここまで*/

/*プラン*/
.modalCnt #plan{
    padding-bottom: 10px;
}

#plan input[type=checkbox] {
    display:none;
}

#plan input[type=checkbox] + label {
    display: inline;
    width: 150px;
    float: left;
    margin: 6px 3px 0px;
    border: 2px solid #e0e0e0;
    border-radius: 7px;
    text-align: center;
    padding: 15px 0;
    position: relative;
}

#plan input[type=checkbox]:checked + label {
    border-color: #00aeff;
}

#plan input[type=checkbox]:checked + label:before {
    background: url(/pc/search/images/icon_check_on.png) -1px -1px no-repeat;
		background-size: 28px;
    width: 25px;
    height: 25px;
    content: " ";
    display: block;
    position: absolute;
    left: 2px;
    top: 15px;
		/*z-index: -1;*/
}
/*プランここまで*/

/*メーカー・車種から探す*/
.modalCnt.modalSearch #manufacturer {
	background-color: #eaeae0;
    padding-bottom: 10px;
}

.modalCnt.modalSearch form>div {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
}

.modalCnt.modalSearch form .first {
	float: left;
	margin-left: 100px;
	margin-right: 20px;
}

.modalCnt.modalSearch form .btn {
	margin-bottom: 40px;
}

.modalCnt.modalSearch form p {
}

.modalCnt.modalSearch select {
	-webkit-appearance: none;
	height: 45px;
	padding-left: 20px;
	border-radius: 5px;
	border: 0;
	font-size: 1.8rem;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	cursor: pointer;
}

.modalCnt.modalSearch .selectWrapper {
}


.modalCnt.modalSearch #selectManufacturer {
	width: 235px;
}

.modalCnt.modalSearch #selectCarType {
	width: 320px;
}

.modalCnt.modalSearch form .searchBtn {
	height: 50px;
}
.modalCnt.modalSearch form .searchBtn > * {
	padding: 15px;
}

/*メーカー・車種から探すここまで*/

/*modalTrouble*/
.modalCnt.modalTrouble {
	width: 90%;
	height: auto;
	max-width: 1000px;
	position: absolute;
	top: 50px;
	z-index: 5;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 0;
	margin-bottom: 50px;
	padding-bottom: 50px;
}
.modalCnt.modalTrouble .ttlbox {
	height: 95px;
	box-sizing: border-box;
	border-bottom: 2px solid #fff;
	padding: 24px;
	text-align: center;
}
.modalCnt.modalTrouble .ttlbox h2 {
	font-size: 3.4rem;
	font-weight: bold;
	position: relative;
	line-height: 48px;;
	display: inline-block;
}
.modalCnt.modalTrouble .act:nth-of-type(2n+1) {
	background-color: #f4f4f4;
}
.modalCnt.modalTrouble .act {
	 width: 940px;
	 margin: 0;
	 padding: 20px 30px 15px;
}
.modalCnt.modalTrouble .act .act__title {
	width: 400px;
	font-size: 2.2rem;
	float: left;
	font-weight: bold;
}
.modalCnt.modalTrouble .act .act__title span {
	margin-right: 20px;
	font-size: 3.8rem;
	color: #00aeff;
	position: relative;
	font-weight: normal;
	top: 5px;
}
.modalCnt.modalTrouble .act .act__content{
	font-size: 1.8rem;
	float: left;
}
.modalCnt.modalTrouble .act .act__content p:before{
	content: '・'
}
.modalCnt.modalTrouble .act .act__content p.caution{
	font-size: 1.5rem;
}
.modalCnt.modalTrouble .act .act__content p.caution:before{
	content: '※'
}
.modalCnt.modalTrouble .act .act__content .emergency{
	line-height: 3.2rem;
}
.modalCnt.modalTrouble .act .act__content .emergency a{
	color: #00aeff;
	font-size: 2.8rem;
}
.modalCnt.modalTrouble .act .act__content table{
	font-size: 1.6rem;
}
.modalCnt.modalTrouble .act .act__content table tr{
	border-top: solid #e0e0e0 1px;
	border-bottom: solid #e0e0e0 1px;
}
.modalCnt.modalTrouble .act .act__content table th {
	text-align: left;
	background-color: #f4f4f4;
	font-weight: normal;
	padding: 10px;
}
.modalCnt.modalTrouble .act .act__content table td {
	text-align: right;
	padding: 10px;
	width: 200px;
}

/*modalInsDetailNo*/
.modalCnt.modalInsDetailNo {
	width: 90%;
	height: auto;
	max-width: 1000px;
	position: absolute;
	top: 250px;
	z-index: 5;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 0;
}
.modalCnt.modalInsDetailNo .ttlbox {
	height: 95px;
	box-sizing: border-box;
	padding: 24px;
	text-align: center;
}
.modalCnt.modalInsDetailNo .ttlbox h2 {
	font-size: 3.4rem;
	font-weight: bold;
	position: relative;
	line-height: 48px;;
	display: inline-block;
}
.modalCnt.modalInsDetailNo .ttlbox h2 span {
	color: #00aeff;
}

/*modal fav*/
#addFavlistComp {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/pc/common/images/img_space.png) 0 0 repeat;
	z-index: 100;
}
#addFavlistComp p {
	display: none;
	background-color: #ffffff;
	box-sizing: border-box;
	height: 60px;
	width: 270px;
	line-height: 60px;
	font-size: 1.6rem;
	font-weight: bold;
	border-radius: 30px;
	position: absolute;
	top: 425px;
	left: 50%;
	margin-left: -135px;
	text-align: center;
	box-shadow: 00px 0px 10px 0px rgba(0,0,0,0.4);
}



.modalCnt,#modal {
    display: none;
}

.confWindow {
	background-color: #fff;
	box-sizing: border-box;
	padding: 60px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 490px;
	margin-left: -245px;
	margin-top: -120px;
	z-index: 550;
	border-radius: 12px;
	box-shadow: 00px 0px 10px 0px rgba(0,0,0,0.4);
	display: none;
	box-sizing: border-box;
}
.confWindow .btn {
	width: 170px;
	display: inline-block;
	margin-top: 40px;
}
.confWindow p {

}
#confWin.confWindow .btn:last-child {
	margin-left: 20px;
}


/*モーダル、プライバシーポリシー*/

.modalInn {
	overflow-y: scroll;
	height: 100%;
}

#privacyTxt h2 {
	font-size: 2.2rem;
	margin: 0;
	padding: 0;
}

#privacyTxt .wrapper {
	width: 830px;
	margin: 0 auto;
}

#privacyTxt #main {
	background-color: #eaeae0;
	padding-bottom: 100px;
}

#privacyTxt #privacyTxt {
	width: 1000px;
	margin: 0 auto;
	padding: 60px 0 75px;
	background-color: #fff;
}

/*全体ここまで*/



/*前書きここから*/
#privacyTxt .foreword {
	padding-bottom: 50px;
}

#privacyTxt .company {
	text-align: right;
	margin-bottom: 30px;

}
/*前書きここまで*/

/*本文ここから*/
#privacyTxt .chapterTitle {
	border-bottom: solid #e4e4e4 1px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

#privacyTxt .articleBox {
	padding-bottom: 35px;
}

#privacyTxt h3.article {
	padding-bottom: 20px;
}

#privacyTxt #main ol li {
	text-indent: -1em;
	padding-left: 1em
}
#privacyTxt .articleBox>ol>li {
	margin-top: 7px;
}
#privacyTxt .innnerList {
	margin-top: 7px;
}
#privacyTxt .articleBox span {
	font-weight: bold;
	display: block;
	font-size: 1.1em;
}

/*本文ここまで*/

/*モーダル利用規約*/
#termsTxt h2 {
	font-size: 2.2rem;
	margin: 0;
	padding: 0;
}

#termsTxt .wrapper {
	width: 830px;
	margin: 0 auto;
}

#termsTxt #main {
	background-color: #eaeae0;
	padding-bottom: 100px;
}

#termsTxt #termsTxt {
	width: 1000px;
	margin: 0 auto;
	padding: 60px 0 75px;
	background-color: #fff;
}

/*全体ここまで*/



/*前書きここから*/
#termsTxt .foreword {
	padding-bottom: 50px;
}
/*前書きここまで*/

/*規約本文ここから*/
#termsTxt .chapterTitle {
	border-bottom: solid #e4e4e4 1px;
	padding-bottom: 15px;
	margin-bottom: 30px;
}

#termsTxt .articleBox {
	padding-bottom: 35px;
}

#termsTxt h3.article {
	padding-bottom: 20px;
}

#termsTxt #main ol li {
	text-indent: -1em;
	padding-left: 1em
}
#termsTxt .articleBox>ol>li {
	margin-top: 7px;
}
#termsTxt .innnerList {
	margin-top: 7px;
}

#privacyTxt .modalttl,
#termsTxt .modalttl {
	font-size: 3.4rem;
    margin-bottom: 40px;
    line-height: 1.3;
}

/*規約本文ここまで*/

/*:disabled*/
option:disabled {
	color: #e0e0e0;
}

/*input*/
input.correct:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}
